*{
    background-color: rgb(150, 142, 150);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#logo{
    margin-left: 20px;
    padding-left: 20px;
    width: 20%;
}
main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}
h1,h6{
    text-align: center;
    color: rgb(235, 235, 245);
}
h6{
    color: red;
    font-size: 15px;
}
.area-texto{
    border:solid ;
    color: rgb(1, 1, 11);
    margin-top: 90px;
    text-transform: lowercase;
}
::placeholder {color:blue}
    .area-texto:focus{
        outline: none;
}

.botoes{
    display: flex;
    margin-top: 18px;
}
.mensagem{
    background: no-repeat;
    border-radius: 24px;
    color: rgb(1, 1, 11);
    margin-left: 90px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}
.mensagem:focus{
    outline: none;
}
.lupa{
    margin-top: 20px;
    margin-left: 150px;
    padding: 20px;
    width: 200px;
}
.btn-encriptar{
    background-color:rgb(17, 142, 65) ;
    border:1pix solid rgb(17, 142, 65) ;
    border-radius: 24px;
    cursor: pointer;
    height: 70px;
    color: white;
    width: 200px;
}
.btn-desencriptar{
    background-color:rgb(17, 142, 65) ;
    border:1pix solid rgb(17, 142, 65) ;
    border-radius: 24px;
    margin-left: 30px ;
    cursor: pointer;
    height: 70px;
    color: rgb(254, 254, 255);
    width: 200px;
}
.btn-copiar{
    background-color: rgb(17, 142, 65) ; ;
    border: 1px solid rgb(17, 142, 65);
    border-radius: 24px;
    margin-top: 350px;
    position:absolute;
    cursor: pointer;
    height: 50px;
    color: rgb(254, 254, 255);
    width: 150px;
}